{{yield}}
<h4 class="htitle hply"> {{demo.title}}
</h4>
{{#if true}}
  <div id="source" data-source="{{demo.source}}"></div>
  <script type="text/javascript">
      var sourceName = Ember.$("#source").attr('data-source');
      Ember.$.get('/sources/' + sourceName, {}, function(data){
          var node = Ember.$( data );
          Ember.$('#source').append(node);
          Ember.$(document).ready(function() {
              $('pre code').each(function(i, block) {
                  hljs.highlightBlock(block);
              });
          });
      });
  </script>
{{/if}}
<script>
</script>