{{yield}}
<div id="flipcard">
    <div class="front">
        <img src="{{logoURL}}" alt="" width="170px"/>
    </div>
    <div class="back">
        <img id="portrait" src="{{pictureURL}}" alt="" width="170px"/>
    </div>
</div>
<!-- DELETE THIS AWFULL SCRIPT -->
<script>
    Ember.$("#flipcard").flip();
    Ember.$("nav p").css('padding-top', '190px');
</script>
