{{yield}}
<div id="terminal"></div>
<div id="shortcutdemo">
  <em>
      Let's jump directly to a <u>random</u>
      <a href="/demos/">demo...</a>
  </em>
</div>
<script>
    $("#terminal").typed({
        strings: ["I study Software Architecture.^500" +
            "\nI'm a Machine Learning addict.^1000" +
            "\nand I develope in: \n• Python\n• Scala\n• and Spark"],
        showCursor: false,
        typeSpeed: 0,
        callback: function(){
            //$("#shortcutdemo").show("slow");
        }
    });
</script>
