{{yield}}
<div id="terminal"></div>
<div id="shortcutdemo">
  <em>
      Let's jump directly to a <u>random</u>
      <a href="/demos/">demo...</a>
  </em>
</div>
<script>
    $("#terminal").typed({
        strings: ["I'm Software Engineering Student.^500" +
            "\nI'm a Machine Learning addict.^1000" +
            "\nand I develop in Python and Scala^1000"],
        showCursor: false,
        typeSpeed: 0,
        callback: function(){
            //$("#shortcutdemo").show("slow");
            return;
        }
    });
</script>
