@media screen and (min-width: 64em ) {
    div#card, img#mugshot, img#ld-logo {
        float: left;
        width: 15rem;
        margin-right: 1rem;
        border-radius: 100%;
        display: inline-block;
    }
}

@media screen and  (min-width: 42em) and (max-width: 64em)  {
    div#card, img#mugshot, img#ld-logo {
        float: none;
        width: 15rem;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 42em) {
    div#card, img#mugshot, img#ld-logo {
        float: none;
        width: 12rem;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-content ul p {
        text-align: center;
    }
    .main-content li i {
        display: block;
        margin: auto;
        border-radius: 100%;
        padding-bottom: 1rem;
    }
}

.main-content ul {
    padding-left: 0rem;
}
.main-content li i {
    margin-right: 0.3rem;
}

a.insta:hover {
    transition: 0.8s;
    color: #733c3c;
    text-decoration: none;
}
div.insta-paragraph {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
div.insta-paragraph :first-child {
    align-self: start;
}
div.insta-paragraph :nth-child(2) {
    align-self: center;
}
div.insta-paragraph :last-child {
    align-self: end;
}
div.insta {
    max-width: 32%;
    margin: auto;
    display: inline-block;
}