<section class="outer-page-header">
    <section class="inner-page-header"></section>
    <section class="page-header">
        <a href="/" id="home-link">
            <h1 class="project-name">
            {{ $.Site.Params.project_name | default "project_name goes here" | markdownify }}
            </h1>
        </a>
        <h2 class="project-tagline">
            {{ $.Site.Params.project_tagline | default "project_tagline goes here" | markdownify }}
            <span class="tg-icon">👨🏾‍💻🍹</span>
        </h2>
        <nav>
            {{ $current := . }}
            {{ range .Site.Menus.nav }}
            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
            <a href="{{ .URL }}" class="btn">{{ .Name }}</a>
            {{ end }}
        </nav>
        <div>
            <p id="socials">
            <a href="{{ $.Site.Params.Socials.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="{{ $.Site.Params.Socials.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="{{ $.Site.Params.Socials.github }}" target="_blank"><i class="fab fa-github"></i></a>
            </p>
        </div>
    </section>
</section>
