<div class="ld-info">
    <div style="display: block"></div>
    <div class="ld-info-icon">
        <span>
            <i class="fa fa-1x fa-info-circle" data-fa-transform="shrink--6"></i>
        </span>
    </div>
    <div class="ld-info-text">
        Note on Repost Blog: blog.loicmdivad.com is a place to collect all the work I'm doing in software engineering. But to avoid content duplication when an article is published somewhere else (e.g. Medium, corporate blog), I just create a Repost Blog. This type of blog just describes the story of the publication briefly and include a link to it. Repost blog can be identified by the tag
        <span class="tag-list">
            <span class="tag-list-element">
                <a href="/tags/repost/" class="tag-link">
                    <span class="tag-name">repost</span>
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle" data-fa-transform="shrink--3"></i>
                        <i class="fas fa-tag" data-fa-transform="shrink-3 right-1 bottom-1"></i>
                    </span>
                </a>
            </span>
        </span>
         . They also have the
        <span class="tag-list">
            <span class="tag-list-element">
                <a href="/tags/en-link/" class="tag-link fr">
                    <span class="tag-name">fr-link</span>
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle" data-fa-transform="shrink--3"></i>
                        <i class="fas fa-tag" data-fa-transform="shrink-3 right-1 bottom-1"></i>
                    </span>
                </a>
            </span>
        </span>
         or
        <span class="tag-list">
            <span class="tag-list-element">
                <a href="/tags/fr-link/" class="tag-link en">
                    <span class="tag-name">en-link</span>
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle" data-fa-transform="shrink--3"></i>
                        <i class="fas fa-tag" data-fa-transform="shrink-3 right-1 bottom-1"></i>
                    </span>
                </a>
            </span>
        </span>
        to indicate the language of the initial publication.
    </div>
</div>