<nav class="sidebar">
    <div class="container">
        <h1 style="font-size:2em">
            Loïc M. DIVAD
        </h1><!-- 你好世界 -->
        {{fliper-card}}
        <p> IT Engineering student,
            fonctional programming lover,
            & new player in DataScience </p>
        <ul>
            <li><a href="https://twitter.com/Isep">@ISEP</a> student</li>
            <li><a href="http://startuppirates.org">#Startup pirate</a> Alumni</li>
            <li>Challenger at <a href="https://www.kaggle.com">Kaggle</a></li>
        </ul>
    </div>
    <!--<div style="position: absolute; bottom:0; width:100%">  </div>-->
    <footer class="container">
      <span  class="row">
        © 2015 Loïc M. DIVAD!
      </span>
      <span class="sharing">
        <a  class="git" href="#"><span class="fa fa-github fa-lg"></span></a>
      </span>
      <span class="sharing">
        <a class="twitter" href="#"><span class="fa fa-twitter fa-lg"></span></a>
      </span>
      <span class="sharing">
        <a  class="fb" href="#"><span class="fa fa-facebook-official fa-lg"></span></a>
      </span>
    </footer>
</nav>
<div id="body">
    <header class="container">
        <div class="dd-horizotal-menu">
            <ul class="">
                <li class="two columns">{{#link-to 'home'}}Home{{/link-to}}</li>
                <li class="two columns">{{#link-to 'demos'}}Demos{{/link-to}}</li>
                <li class="two columns">{{#link-to 'projects'}}Projects{{/link-to}}</li>
                <li class="two columns">{{#link-to 'me'}}Me...{{/link-to}}</li>
            </ul>
        </div>
    </header>
  {{outlet}}
</div>