<div id="main" class="container">
    <h1 class="htitle">{{title}}</h1>
    {{typed-board}}
    <div class="row">
        <ul id="social-list">
            <li class="one column">
                <a href="https://twitter.com/LoicMDivad" target="blank">
                    <span class="border-blue">Twitter</span>
                </a>
            </li>
            <li class="one column">
                <a href="https://fr.linkedin.com/pub/loïc-divad/93/a98/3a5" target="blank">
                    <span class="border-blue">Linkedin</span>
                </a>
            </li>
            <li class="one column">
                <a href="https://github.com/DivLoic" target="blank">
                    <span class="border-blue">Github</span>
                </a>
            </li>
        </ul>
    </div>
</div>