<div id="main" class="container">
    <h1 class="htitle columns"
        style="font-family: Consolas">
        lazy def Lolo: Engineer</h1>

    <div class="row mebox" id="bio">
        <div class="bio-edito mesubbox">
            <h4>A few words about me</h4>
            <p class="citation">I'm a french student in computer science. I'm coming from the west indies and
                I'm currently studying in paris. My engineering school (ISEP) give the acces to a professional
                experience in a bank, where I discovered the core concepts of <em>Big Data</em>. After three years
                of learning, I'm now considering programming both as a team sport and an art.
            </p>
        </div>
    </div>

    <div id="badges" class="row mebox">
        <div class="mesubbox">
            <h4>Milestones on my way</h4>
            <div class="mybages">
                <img src="img/studies.svg" alt="" />
                <p>
                    <span class="field">School:</span><br/>
					<span class="text">MP/MP* & IT Engineering
						<a href="https://twitter.com/Isep" target="blank">@ISEP</a>
					</span><br/>
                </p>
            </div>
            <div class="mybages">
                <img  class="" src="img/exp.svg" alt="" />
                <p>
                    <span class="field">Experiances:</span><br/>
					<span class="text">Block Release Program
						<a href="https://fr.wikipedia.org/wiki/Société_générale" target="blank">@Socgen</a>
					</span><br/>
                </p>
            </div>
            <div class="mybages">
                <img class="" src="img/code.svg" alt="" />
                <p>
                    <span class="field">Skills:</span><br/>
                    <span class="text">Scala, Java & Python</span><br/>
                </p>
            </div>
        </div>
    </div>

    <div class="row mebox" >
        <div id="map" class="row mesubbox">
            <h4>The past trips</h4>
            <div class="map-table">
              {{#each model as |location| }}
                {{map-card class='four columns' local=location}}
              {{/each}}
            </div>
        </div>
    </div>

    <div class="row mebox">
        <div id="map" class="row mesubbox">
            <h4>Hobbies</h4>
            <div><u>404 Error</u>: looks like they are not that much hobbies here .. to be continued </div>
        </div>
    </div>

    <div class="row mebox">
        <div class="mesubbox" id="mailme">
            <h4>How to mail me ?: <small><u>loicm.divad@gmail.com</u></small></h4>
        </div>
    </div>

    <div class="row mebox">
        <div class="mesubbox" id="resume">
            <h4>
                Want to see a more traditional resume ?
                {{!-- TODO: add the #link-to 'resume' --}}
                <a href="/resume.pdf" download="loicdivad.pdf">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
    </div>
</div>
