/* -- MY PAGE -- */
/* Keep uniq
  .hme
  .mebox
  #bio
  #map
  #badges
  p.citaiton
*/
div.mebox{
  display: table;
  width: 100%;
}
div.mebox div.mesubbox{
  height: 100px;
  width: 100%;
  display:table-cell;
  vertical-align:middle;
}
p.citation{
  color: #777777;
  padding-left: 16px;
  border-left: 6px solid #dddddd;
  background-color: #ffffff;
}
#badges{
  padding-left:0px;
  margin-left:0px;
}
#badges p .note{
	font-size: 0.5em;
	font-style: italic;
}
#badges img{
	height:65px;
	width:65px;
}
#badges img , #badges p{
	display: inline-block;
	vertical-align: middle;
}
#badges p{
  margin: 0px 0px 10px 10px ;
  line-height: 1.6em;
}

/* -- Achivement bages part --*/
div.mybages{
  margin-bottom: 12px;
}
/* -- travel part -- */
#map{
	padding-top: 10px;
}
#map div{
  margin-bottom:10px;
   min-width: 150px;
}
#map img{
  width:150px;
  height:150px;
  margin: auto;
  display: block;
	vertical-align: top;
  opacity: 0.3;
  transition: 0.4s;
}
#map img:hover,
#map img:active,
#map img:focus{
    opacity: 0.8;
}
#map div.location-legend{
  text-align: center;
  font-size: small;

}
@media only screen and (max-width: 610px) {
  #map div img{
    display: block;
    margin:auto;
  }
  #map div.four.columns{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 490px){
  #badges div img,
  #badges div p{
    display: block;
    margin: auto;
    margin-bottom: 16px
  }
  #badges div p,
  h4.htitle{
    text-align: center;
  }
}
